
body {
    background: orange;
    background-size: cover;
    height: 100vh;
}
img{
    height: 50px;
    width: 50px;
    padding: 0px;
    text-align: right;

}
.navbar {
    text-align:right;
    padding: 0%;
  }
  .navbar ul li {
    display: inline-block;
  }
  
  .navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    color: #6c6c6c;
  }
  .btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
  

